@import '../../../../sass/variables';
footer {
	font-family: $primary-font;
	background: $site-blue;
	min-height: 200px;
	padding: 40px 0;
	font-size: 1.2em;

	.title {
		font-weight: 700;
		color: #fff;
		margin-bottom: 25px;
	}
	.nav {
		a {
			font-weight: 400;
			font-size: 12px;
			padding: 0;
			margin-bottom: 15px;
			color: $site-accent;
		}
	}
}
footer .social-icon .col-md-3{
	margin: 0px;
	padding: opx;
}
#partners {
	img {
		width: 40px;
		height: 40px;
		margin-right: 50px;

		&:last-of-type {
			margin-right: 0; 
		}
	}
}
@media(max-width:400px){
	#partners {
		img {
			margin: 0px  15px !important;	
		}
	}
	
}