<app-header ></app-header>

<section class="padded con" >
    <div id="wrapper"  >
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
           <div class="pad-filter">
              <button id="menu-toggles"   class="btn btn-dark btn-sm pull-right"><span class="fa fa-close"></span></button>
            <h5>Filter By Price</h5>
            <hr>
            <div class="price-range">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  under 100
                </label><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  100 - 300
                </label><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  300 - 500
                </label><br>
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  500 - 1000
                </label>
            </div>
            <hr>
            <h5>Filter By Color</h5>
            <hr>
              <div class="color-filter">
                <select name="color" id="">
                  <option value="red">Red</option>
                  <option value="">blue</option>
                </select>
              </div>
           </div>
    
        </div>
    </div>
  <div class="container con" >
    <div class="row">
              <div class="col-md-12 hed">
                <h2>Category</h2>    
              </div>
              <div class="col-sm-12 row-ruler">
                <div class="row ">
                    <div class="col-sm-2 left">
                        <button class="btn btn-primary btn-sm" href="#menu-toggle" class="btn btn-danger" id="menu-toggle">
                            <span class="fa fa-sliders"></span> FITLER
                        </button>
                    </div>
                    <div class="col-sm-7 text-center right">
                        <p style="font-size: 17px">
                            <b>{{products?.length || '0'}}</b> Item(s) found
                          </p>
                    </div>
                </div>
              </div>
  </div>
  <div class="img-men">
    <div class="row">
        <div class="col-md-12 text-center" *ngIf="products?.length<1&&products">
              <img  src="http://store.vijaidental.com/assets/no-product-33dc3c65b6963555d6e7f92d0ace54bd.jpg" alt="">           
          </div>
    </div>
        
    <div class="row" *ngIf="products" >
            <div class="col-md-4" *ngFor="let item of products" >
       <div class="card" >
         <a routerLink="/product/{{item.id}}/{{item.slug}}"> 
           <img class="img-responsive" src={{item.feature_image}} alt={{item.name}} >
         </a>
         <div class="card-footer">          
              <span class="prices" > {{item.sale_price  / t.getItem('rate')  | currency:t.getItem('currency')}}</span>
              <span  (click)="addToCart()" class="wishlist fa fa-heart fa-2x" title="add to wishlist"></span>
             <br><br>
             <span class="name pull-left" >{{item.name}}</span>
          </div>
          </div>     
         </div>
    </div>
   <div class="row">
      <div *ngIf="!products" class="col-md-12 text-center">
          <img src="assets/gif/blue-spinner.gif" alt="">
          <h3>Loading .......</h3>
    </div>
   </div>
  </div>

    
   
  </div>

</section>