.form-control {
    font-size: 1.2em;
}
.btn-primary{
    background-color: #072a55;
    border: 1px solid #072a55;
}
.jumbotron {
	margin: 0;
}

.jumbotron::after {
	background: #C4C4C4;
	opacity: 1;
}

.boldest {
	font-size: 28px;
	color: #000;
	letter-spacing: 1.5px;
	font-family: 'Montserrat'
}
form {

    .form-group {
        margin-bottom: 15px;
        
        .form-control::placeholder {
            font-style: normal;
            text-transform: unset;
            letter-spacing: 1.5px;
            word-spacing: 1px;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

strong { font-weight: 500; }


h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: black;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: black;
    line-height: 30px;
}








/***** Top content *****/

.top-content {
    padding: 5% 10%;
    padding-left: 10%
}

.top-content .text {
	color: black;
}

.top-content .text h1 { color: black; }

.form-box {
	margin-top: 0%;
}

.form-top {
	overflow: hidden;


	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 70%;
	padding-top: 40px;
}

.form-top-left h3 { margin-top: 0; color: black; }
.form-top-left p { opacity: 0.8; color: black; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	line-height: 100px;
	text-align: right;
}

.form-bottom {

	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}
.form-error {
    display: inline-block;
    animation: 2s alertAnim forwards;
    font-weight: 500;
    margin-top: 0;
	margin-bottom: 5px;
	font-size: 15px;
	margin:5px 0px;
}

 .top-content{
    background: #E0E0E0 !important
}


