<app-header ></app-header>
<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <form (ngSubmit)="forgetPassword(email.value)" validate>
        <span class="fa fa-lock fa-5x"></span><br>
          <div class="input-group mb-3" style="padding:0px 32% "  >
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><span class="fa fa-envelope"></span></span>
              </div>
              <input  type="email" #email class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div> 
           <input type="submit"   class="btn btn-primary mb-5" value="verfiy email">
      </form>
    </div>
  </div>
</div>