<app-header ></app-header>
<section class="jumbotron">
    <div class="inner-content text-center">
        <h3 class="boldest">
           TERMS &amp; CONDITIONS
        </h3>
    </div>
</section>

<section class="bg-white padded">
    <div class="container">
    	<div class="content">
    		These Terms and Conditions govern your use of the vogueafriq.com Site and your
			relationship with VogueAfriq Ltd. Please read them carefully as they affect your
			rights and liabilities under the law. If you do not agree to these Terms and
			Conditions, please do not register for or use the vogueafriq.com Site.    	
		</div>
		<div id="accordion">
			<div class="card">
			  <div class="card-header" id="headingOne">
				<h5 class="mb-0">
				  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					1. Amendments to Our Terms and Conditions
				  </button>
				</h5>
			  </div>
		  
			  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					We may update these Terms and Conditions from time to time. It is your
					responsibility to remain informed of updates to our Terms and Conditions. If you do
					not wish to accept our updated Terms and Conditions, you should not continue to
					use the VogueAfriq Site. If you continue to use the VogueAfriq Site after the date on
					which updates come into effect, your use of the VogueAfriq Site will indicate your
					agreement to be bound by the updated Terms and Conditions.				</div>
			  </div>
			</div>
			<div class="card">
			  <div class="card-header" id="headingTwo">
				<h5 class="mb-0">
				  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					2. Registration
				  </button>
				</h5>
			  </div>
			  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					Only those over the age of 18 are eligible to register with Vogueafriq.com. Minors (i.e.
					those under the age of 18) must have informed consent from a parent or guardian in
					order to register. All details provided on registration must be correct and complete at
					any time. You must inform us immediately of any changes to the information that
					you provided when registering by updating your personal data.
					VogueAfriq Ltd reserves the right to suspend or cancel your registration if you breach
					any of your obligations under these Terms and Conditions. You can cancel this
					agreement at any time by informing us in writing. If you do so, you must stop using
					the vogueafriq.com Site. The suspension or cancellation of your registration and your
					right to use the vogueafriq.com Site shall not affect either party’s rights or liabilities.				</div>
			  </div>
			</div>
			<div class="card">
			  <div class="card-header" id="headingThree">
				<h5 class="mb-0">
				  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					3. Password and Security
				  </button>
				</h5>
			  </div>
			  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				<div class="card-body">
					When you register to use the vogueafriq Site, you will be asked to create a password.
					This password must be kept confidential and should not be disclosed or shared with
					anyone. You will be responsible for all activities and orders that occur or are
					submitted under your password. If you know or suspect that someone else knows
					your password you should notify us by contacting our Customer Services Department
					immediately.
					If Vogue Afriq Ltd has reason to believe that there is likely to be a breach of security
					or misuse of the vogueafriq.com Site, we may require you to change your password or
					we may suspend your account to protect your personal information.			</div>
			  </div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
						4. Eligibility to Purchase
					</button>
				  </h5>
				</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					In order to purchase items from the vogueafriq.com Site, you must provide personal
					details as requested. All details provided must be correct and true at any given time.
					In order for us to process purchases, you will need to provide payment details to our
					payment processor. Billing details provided at this stage must be accurate and valid
					and you warrant and represent that you are the correct cardholder for the registered
					payment account. By submitting your payment details for processing, you expressly
					authorise VogueAfriq Ltd or our chosen payment provider to carry out relevant
					authorisation checks on the payment card to ensure there are sufficient funds to fulfil
					the transaction.				
				</div>
				</div>
			  </div>
			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
						5. Orders
					</button>
				  </h5>
				</div>
				<div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					All orders are subject to acceptance and availability. Items in your shopping basket
					are not reserved and may be purchased by other customers.
					By placing an order on the vogueafriq.com Site you are bound to the Terms and
					Conditions of sale.
					VogueAfriq items are dispatched directly from our distribution centre in London,
					UK. Products that are in stock and available for immediate dispatch are clearly
					displayed on the vogueafriq.com Site. You may register your interest for out of stock
					items by sending an email to our Customer Services Department clearly stating the
					item code, at which point you may be given the option to make an Advance Payment
					for these items if we expect to re-stock them. Your rights regarding Advance
					Purchase are the same as those for any other purchase on vogueafriq.com.
					Alternatively, you may simply register your contact details so that we may notify you
					on arrival of the out of stock item. Such notifications will be made within 48 hours of
					the product becoming available of the site, at which point you will have a further 24
					hours to make a full payment for the item before the item is sold on to other
					customers.
					Our acceptance of an order takes place on dispatch of the order, at which point email
					notification will be sent to you.				
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
						6. Pricing
					</button>
				  </h5>
				</div>
				<div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					Prices displayed are inclusive of VAT where applicable.
					Delivery charges will be clearly displayed prior to payment processing.
					Customers purchasing from a country served as DDP will incur relevant import duty
					and tax. These costs are included in the final purchase price and will be clearly
					displayed prior to payment processing.
					Prices are listed in either Nigerian Naira, UK Sterling or US Dollars. EUR and USD
					prices may vary based on currency exchange rates. If you are a customer whose
					credit/debit card is not denominated in GBP, EUR or USD, the final price will be
					calculated in accordance with the applicable exchange rate on the day your card
					issuer processes the transaction.				
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
						7. International Delivery
					</button>
				  </h5>
				</div>
				<div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					We deliver to most countries worldwide. Click here to view our international
					shipping rates. Our international shipping is charged on a flat rate basis, regardless
					of the weight of your order.
					Tracking is available for all shipments. A tracking number will be provided via email
					within 24 hours of your order being dispatched.
					Deliveries will be made within normal business hours and will require a signature on
					receipt. Where possible, we suggest you use your work address as a delivery address
					to avoid missed deliveries.
					If you miss a delivery, a calling card will be left by the courier with details of how to
					collect the items or arrange a redelivery. Please follow the instructions on the calling
					card, as any unclaimed items may be returned to us. If you have not received your
					items or a calling card within the specified time frame, please contact our Customer
					Services Department.
					Failure to follow instructions on the calling card left by the courier may result in the
					items being returned to us. In such instances, we will process refunds when we have
					received the returned items. Delivery charges will not be refunded and further
					delivery charges may be made to you if redelivery is requested.			
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
						8. Returns and Refunds
					</button>
				  </h5>
				</div>
				<div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					We hope you will be happy with your purchase. Should you wish to return or
					exchange items bought from us, we are willing to accomodate this provided the item
					is in fully resalable condition and meet the terms listed below.
					Items should be returned in their original packaging with all labels attached within
					14 days.
					VogueAfriq Ltd retains the right to refuse to accept returns of used or damaged
					items. Certain items cannot be returned for hygiene purposes. These include some
					items of lingerie, swimwear and jewellery.
					VogueAfriq Ltd does not assume responsibility for faulty or damaged goods returned
					after the 14 day return period has passed. Goods returned after this date may be
					refunded only at our sole discretion and we reserve the right to deduct up to 20% of
					the original selling price from the refund amount.
					Refunds will either be paid back to the card used to process payment, or it can be
					added as store credit. Please note that shipping costs will not be included in refund
					costs except in the case where a faulty item was sent.
					If your item has been sent to a destination within the EU, all sales taxes will be
					refunded. Outside of the EU, sales taxes and custom duties are non-refundable
					through VogueAfriq Ltd but customers may contact relevant local customs
					authorities for information on how to recover these charges. <br>
					<b>UK customers:</b> Please obtain a free Certificate of Posting (available free from the
					Post Office) for all returns. You should keep this Certificate until you have received
					your refund or replacement. <br>
					<b>International customers:</b> Send your return via a prepaid, insured, traceable
					method, marking your package clearly as Returned Goods to avoid delays at
					Customs. Please retain your shipping documentation, so that we can complete your
					request in the event of items being lost in transit. Regrettably we cannot refund
					international carriage charges.			
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
						8. Returns and Refunds
					</button>
				  </h5>
				</div>
				<div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					We hope you will be happy with your purchase. Should you wish to return or
					exchange items bought from us, we are willing to accomodate this provided the item
					is in fully resalable condition and meet the terms listed below.
					Items should be returned in their original packaging with all labels attached within
					14 days.
					VogueAfriq Ltd retains the right to refuse to accept returns of used or damaged
					items. Certain items cannot be returned for hygiene purposes. These include some
					items of lingerie, swimwear and jewellery.
					VogueAfriq Ltd does not assume responsibility for faulty or damaged goods returned
					after the 14 day return period has passed. Goods returned after this date may be
					refunded only at our sole discretion and we reserve the right to deduct up to 20% of
					the original selling price from the refund amount.
					Refunds will either be paid back to the card used to process payment, or it can be
					added as store credit. Please note that shipping costs will not be included in refund
					costs except in the case where a faulty item was sent.
					If your item has been sent to a destination within the EU, all sales taxes will be
					refunded. Outside of the EU, sales taxes and custom duties are non-refundable
					through VogueAfriq Ltd but customers may contact relevant local customs
					authorities for information on how to recover these charges. <br>
					<b>UK customers:</b> Please obtain a free Certificate of Posting (available free from the
					Post Office) for all returns. You should keep this Certificate until you have received
					your refund or replacement. <br>
					<b>International customers:</b> Send your return via a prepaid, insured, traceable
					method, marking your package clearly as Returned Goods to avoid delays at
					Customs. Please retain your shipping documentation, so that we can complete your
					request in the event of items being lost in transit. Regrettably we cannot refund
					international carriage charges.			
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
						9. Disclaimer of Liability
					</button>
				  </h5>
				</div>
				<div id="collapseNine" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					The vogueafriq.com Site is provided by Vogueafriq Ltd without any warranties or
					guarantees. You must bear the risks associated with the use of the Internet. In
					particular, we disclaim all liabilities in connection with the following:
					<ol>
						<li>
							    incompatibility of the vogueafriq.com Site with any of your equipment, software
								or telecommunications links
						</li>
						<li>
							   technical problems including errors or interruptions of the vogueariq.com Site
						</li>					
						<li>
							    unsuitability, unreliability or inaccuracy of the vogueafriq.com Site
						</li>	
						<li>
							    inadequacy of the vogueafriq.com site to meet your requirements
						</li>				
					
					</ol>					
					To the full extent allowed by applicable law, you agree that Vogueafriq Ltd, our
					Suppliers and our content providers will not be liable to you/or any third party for
					any consequential or incidental damages (including but not limited to loss of
					revenue, loss of profits, loss of anticipated savings, wasted expenditure, loss of
					privacy and loss of data) or any other indirect, special or punitive damages
					whatsoever that arise out of or are related to the vogueafriq.com Site. This does not
					affect the VogueAfriq Ltd liability for death or personal injury arising from its
					negligence, nor for fraudulent misrepresentation, misrepresentation as to a
					fundamental matter or any other liability which cannot be excluded or limited under
applicable law.			
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
						10. Indemnity
					</button>
				  </h5>
				</div>
				<div id="collapseTen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					You will indemnify VogueAfriq Ltd, its directors, officers, employees, consultants,
					agents and affiliates against all losses, liabilities, costs and expenses reasonably
					suffered or incurred by us out of the content you submit, post or transmit via
					vogueafriq.com Site or from your use/misuse of the vogueafriq.com Site or the
					use/misuse by any person for whom you are responsible or from violation of these
					Terms and Conditions.	
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
						11. Intellectual Property
					</button>
				  </h5>
				</div>
				<div id="collapseEleven" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					Unless otherwise noted, all materials, including without limitation all images,
					illustrations, designs, icons, photographs, video clips, and written and other
					materials that appear as part of this website (collectively &quot;Content&quot;) are protected by
					copyright, trademarks, database and other intellectual properties owned, controlled
					or licensed by vogueafriq Ltd. You may download, print and store selected portions
					of the Content only if you:
					11.1    use these copies for your own personal, non-commercial use provided you keep
					intact all and any copyright and proprietary notices
					11.2    do not copy or post the Content on any network computer or broadcast the
					Content in any media
					11.3    do not modify or alter the Content in any way, or delete or change any
					copyright or trademark notice.
					No right, title or interest in any downloaded Content is transferred to you as a result
					of any such downloading. VogueAfriq Ltd reserves all right, title, interest and full
					intellectual property rights in any Content you download from this website. Except as
					noted above, you may not copy, download, reproduce, modify, publish, distribute,
					transmit, transfer, create derivative works from or otherwise use the Content on this
					website. Downloading or copying Site Content for other than personal, non-
					commercial use is expressly prohibited without the prior written permission of us or
					any other copyright owner. You acknowledge that you do not acquire any ownership
					rights by downloading copyrighted material. Notwithstanding the foregoing, you may
					not download or copy any of the product listings, descriptions, or prices, nor may you
					frame or utilize framing techniques to enclose any trademark, logo, or copyrighted
					material from the vogueafriq.com Site or use tags or any other hidden text utilizing
					our names or trademarks, without written permission from VogueAfriq Ltd.
					You shall be solely responsible and liable for any and all damages resulting from any
					infringement of copyrights, proprietary rights, or any other harm resulting from any
					uploading, posting or submission of your content on the Site.	
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree">
						12. Limitations
					</button>
				  </h5>
				</div>
				<div id="collapseTwelve" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					You may not use the vogueafriq.com Site for any of the following purposes:
				<ol>
					<li>
						 disseminating any unlawful, harassing, libellous, abusive, threatening,
						harmful, vulgar, obscene or otherwise objectionable material
					</li>
					<li>
						transmitting material that encourages conduct that constitutes a criminal
						offence, results in civil liability or otherwise breaches any relevant laws, regulations
						or code of practice
					</li>
					<li>
						gaining unauthorised access to other computer systems
					</li>
					<li>
						interfering with any other person’s use or enjoyment of the vogueafriq.com Site
					</li>
					<li>
						 breaching any laws concerning the use of public telecommunications networks
					</li>
					<li>
						interfering or disrupting networks or websites connected to the
						vogueeafriq.com Site.
					</li>
					<li>
						making transmitting or storing electronic copies of materials protected by
					copyright without the written permission of VogueAfriq Ltd
					</li>

				</ol>	
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThree">
						13. Availability of the vogueafriq.Com Site
					</button>
				  </h5>
				</div>
				<div id="collapseThirteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					Although VogueAfriq Ltd aims to offer you the best service possible, we make no
					promise that the services at the vogueafriq.com Site will meet your requirements. My
					VogueAfriq Ltd cannot guarantee that the service will be fault free. If a fault occurs in
					the service you should report it to our Customer Services Department and we will
					attempt to correct the fault as soon as we reasonably can.
					Your access to the vogueafriq.com Site may be occasionally restricted to allow for
					repairs, maintenance or the introduction of new facilities or services.	
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseThree">
						14. Variation
					</button>
				  </h5>
				</div>
				<div id="collapseFourteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					VogueAfriq Ltd retains the right in its absolute discretion at any time and without
					notice to amend, remove or vary the Services and/or any page of the vogueafriq.com
					Site.
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFirteen" aria-expanded="false" aria-controls="collapseThree">
						15. Third Party Websites
					</button>
				  </h5>
				</div>
				<div id="collapseFirteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					As a convenience to VogueAfriq Ltd customers, the vogueafriq.com Site includes
					links to other web sites or material which are beyond its control. VogueAfriq Ltd is
					not responsible for content on any site outside the voueafriq.com Site.
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseThree">
						16. Applicable Law
					</button>
				  </h5>
				</div>
				<div id="collapseSixteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					As a convenience to VogueAfriq Ltd customers, the vogueafriq.com Site includes
					links to other web sites or material which are beyond its control. VogueAfriq Ltd is
					not responsible for content on any site outside the voueafriq.com Site.
				</div>
				</div>
			  </div>

			  <div class="card">
				<div class="card-header" id="headingThree">
				  <h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseThree">
						17. International Customers
					</button>
				  </h5>
				</div>
				<div id="collapseSeventeen" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				  <div class="card-body">
					VogueAfriq Ltd makes no promise that materials on the vogueafriq.com Site are
					appropriate or available for use in locations outside the United Kingdom, and
					accessing the vogueafriq.com Site from territories where its contents are illegal or
					unlawful is prohibited. If you choose to access this site from locations outside the
					United Kingdom, you do it on your own initiative and are responsible for compliance
					with local laws.
								</div>
				</div>
			  </div>
			
		  </div>
    </div>
</section>
